@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-image: url(../img/teste2.jpg) ; 
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 100vh;
    width: 100vw;
}

input , label {
    display: flex;
    margin-bottom: 10px;
    
}

input[type="submit"] {
    border: 2px solid gold;
    border-radius: 40px;
    color: black;
    width: 50px;
    height: 25px;
    
}

input[type="email"] {
    padding: 10px;
    height: 13px;
    width: 100%;
    border: 2px solid gold;
    border-radius: 40px;
  }
  
.btn{
    display: flex;
}
.btn a{
    color: black;
    margin-left: 10px;
    text-decoration: none;
}